<% layout('/layouts/boilerplate') %>
<% function getSMonth(number){
    var months = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio","Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
    
    return(months[number])

} %> 

<h2 class="package-title">Paquetes</h2>
<div class="container-packages">
    <% if(packages && packages.length > 0)  { %>
        <table class="packages-table">
            <th>Nombre</th>
            <th>Tienda Origen</th>
            <th>Tracking</th>
            <th>Status</th>
            <th>Peso(Lbs)</th>
            <th>Precio</th>
            <th>Fecha registro</th>
        
    <% for (package of packages) { %> 
        <tr>
            <td><%= package.name %></td>
            <td><%= package.origen %></td>
            <td><%= package.trackingN %></td>
            <td><%= package.status %></td>
            <td><%= package.weight %></td>
            <td><%= package.fleetPrice.toFixed(2) %></td>
            <td><%= package.registDate.getDate()+"-"+getSMonth(package.registDate.getMonth())+"-"+package.registDate.getFullYear() %> </td>
        </tr>

    <% } %> 
    </table>
    <% } %> 
</div>
